---
layout: page
title: Viviana Márquez
subtitle: EdTech Founder @MissFactorial | Data Scientist | Lecturer
use-site-title: true
---
<!-- Typed.js --> 
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/typed.js" type="text/javascript"></script>
<script>
  $(function(){
    $(".typed").typed({
      strings: ["an EdTech Founder.", "a data scientist.", "a lecturer.", "a mathematician.", "a Radio and TV host.", "Miss Universe Sucre 2021."],
      typeSpeed: 85,
      loop: true,
      backDelay: 1000
    });
  });
</script>

<div class="typed-js-hide">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
          <h1>I am <span class="typed" style="color:#CB62B2";></span></h1>
      </div>
    </div>
  </div>
</div>


<!-- site body (untouched)--> 


    <div id="about">
      <div class="borde"></div>
      <p>
	      <i>Hello! Hola! Oi! Salut ! Привет! </i><br><br>
	      
	      🍎 I'm a Data Scientist, currently in Manhattan, NY.<br>
	      👩‍🏫 I am an <a href='http://vivianamarquez.com/NLP-KL-2021-I/' target='_blank'>NLP Instructor</a> for the graduate programs in analytics at FULK University.<br>
	      🎥 I am also a multimedia talent: TV Host, Radio Host, Model, and <a href='https://www.youtube.com/user/vivmarquez' target='_blank'>YouTuber</a>/<a href='https://www.tiktok.com/@misspyth0n' target='_blank'>TikToker</a>.<br>
	      👑 Miss Universe Sucre 2021.<br><br>
	      
	      <span class="fa fa-graduation-cap about-icon"></span> Education:<br>
	      • MSc in Data Science from the University of San Francisco, California.<br>
	      • BSc in Mathematics from FUKL in Bogotá, Colombia.<br>
	      • AA in Jourlalism and Media Production from CST in Bogotá, Colombia.<br><br>
	      
	      <span class="fa fa-heart about-icon"></span> Hoping to find bridges between NLP (and NLP beyond English), Combinatorics, and Science Journalism.<br>
	      
	    </p>
    </div>




{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
